main {
	grid-template-columns: 3fr 2fr;
	grid-auto-rows: 1fr auto;
}

.orders {
	grid-template-columns: repeat(auto-fill, 3ch);
}

.order {
	display: block;
	width: 100%;
	height: 2em;
	outline: 1px solid gray;
	border-radius: var(--radius);
	border: none;
}

.remove-completed {
	display: block;
	margin-inline: auto;
	padding-inline: 0.25em;
}

.toolbar {
	display: flex;
	gap: var(--gap);
}

.colors {
	display: flex;
	gap: var(--gap);
}

.color {
	/* width: 2ch; */
	aspect-ratio: 1/1;
	height: 100%;
	outline: 1px solid gray;
	border-radius: var(--radius);
	border: none;
	background-color: hsl(from var(--order-color) h 50 l);
}

.color.active {
	background-color: var(--order-color);
}
.color.active::after {
	content: "\2713";
}

.keypad {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

span:has(label):has(input, output) {
	display: flex;
	gap: var(--gap);
}

.next-order-number {
	display: block;
	height: 1.25em;
	line-height: 1.25em;
	box-sizing: content-box;
	width: 2ch;
	padding-inline: 0.25em;
	outline: 1px solid gray;
	border-radius: var(--radius);
}

.keys {
	display: grid;
	font-size: 1.75rem;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap);
}

.digit {
	font-size: 1.75em;
}

.draggable {
	touch-action: none;
	user-select: none;
}

.drop-zone {
	height: 100%;
	display: grid;
	place-content: center;
	border: 2px dashed lightgray;
	border-radius: 0.5rem;
	margin: 0.75rem;

	&.hover {
		background-color: #eee;
	}

	p {
		text-align: center;
		max-width: 14ch;
	}
}
