<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Back</title>

	<script type="module" src="{{ url_for('static', filename='back.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

	<template id="order">
		<li>
			<button class="order draggable" type="button"></button>
		</li>
	</template>
	<template id="color-section">
		<ul class="orders" data-color="">

		</ul>
	</template>
</head>
<body>
	<main>
		<section>
			<h2>Pending</h2>
			<div id="pending-orders" class="orders-container"></div>
		</section>
		<section>
			<h2>Completed</h2>
			<div id="completed-orders" class="orders-container"></div>
			<div>
				<button type="button" id="remove-completed" class="remove-completed">Remove completed</button>
			</div>
		</section>
		<section>
			<div class="toolbar">
				<div class="colors">
					<p>Color:</p>
					<button class="color active" data-color="0" type="button"></button>
					<button class="color" data-color="1" type="button"></button>
					<button class="color" data-color="2" type="button"></button>
					<button class="color" data-color="3" type="button"></button>
				</div>
				<span>
					<label for="next-order-number">Next:</label>
					<output id="next-order-number" class="next-order-number"
						for="keypad-0 keypad-1 keypad-2 keypad-3 keypad-4 keypad-5 keypad-6 keypad-7 keypad-8 keypad-9 keypad-clear keypad-add"
					></output>
				</span>
			</div>
			<div class="keypad">
				<div class="keys">
					<button id="keypad-1" class="digit" type="button">1</button>
					<button id="keypad-2" class="digit" type="button">2</button>
					<button id="keypad-3" class="digit" type="button">3</button>
					<button id="keypad-4" class="digit" type="button">4</button>
					<button id="keypad-5" class="digit" type="button">5</button>
					<button id="keypad-6" class="digit" type="button">6</button>
					<button id="keypad-7" class="digit" type="button">7</button>
					<button id="keypad-8" class="digit" type="button">8</button>
					<button id="keypad-9" class="digit" type="button">9</button>
					<button id="keypad-clear" class="clear" type="button">CLR</button>
					<button id="keypad-0" class="digit" type="button">0</button>
					<button id="keypad-add" class="add" type="button">ADD</button>
				</div>
			</div>
		</section>
		<section>
			<div id="drop-zone" class="drop-zone">
				<p>Drop order here to remove</p>
			</div>
		</section>
	</main>
</body>
</html>
