<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Front</title>

	<script type="module" src="{{ url_for('static', filename='front.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">

	<template id="order">
		<li>
			<span class="order"></span>
		</li>
	</template>
</head>
<body>
	<main>
		<section>
			<h2>Preparing</h2>
			<ul id="pending-orders" class="orders pending"></ul>
		</section>
		<section>
			<h2>Ready</h2>
			<ul id="completed-orders" class="orders completed"></ul>
		</section>
	</main>
</body>
</html>
