<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Front</title>

	<script type="module" src="{{ url_for('static', filename='javascript/front.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">

	<template id="order">
		<li class="order-container">
			<span class="order"></span>
		</li>
	</template>
	<template id="hidden-order-count">
		<span class="hidden-order-count"></span>
	</template>
	<template id="color-section">
		<ul class="orders" data-color="">

		</ul>
	</template>
</head>
<body>
	<main>
		<section>
			<h2>Preparing</h2>
			<div id="pending-orders" class="orders-container pending"></div>
		</section>
		<section>
			<h2>Ready</h2>
			<div id="completed-orders" class="orders-container completed"></div>
		</section>
	</main>
</body>
</html>
